html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
  color: #767676;
  overflow-x: hidden;
}

html.show {
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

#header {
  height: 4.5rem;
  border-bottom: 1px solid #e4e4e4;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  background-color: #f9f9f9;
}

ul li a {
  color: #0f241d;
}

.menu {
  display: none;
}

.menu-icon {
  background: url("../NLW/src/assets/images/menu.svg");
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.menu-icon.show {
  background: url("../NLW/src/assets/images/close.svg");
  z-index: 2;
}

.menu.show {
  display: block;
  top: 0;
  left: 0;
  background: #f9f9f9;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  overflow: hidden;
}

.menu.show ul {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu.show ul li {
  font: 700 1.87rem "Poppins", sans-serif;
  line-height: 6rem;
  color: #0f241d;
  text-decoration: none;
  list-style: none;
}

li {
  text-align: center;
  list-style: none;
  text-decoration: none;
}

.logo {
  font: 700 1.31rem "Poppins", sans-serif;
  color: #0f241d;
}

.logo span {
  color: #69b99d;
}

.section {
  padding: 0 1.5rem;
  display: grid;
  gap: 1.5rem;
}

.section-home {
  padding: 3rem 1.5rem 0;
  display: grid;
  gap: 3rem;
}

#home {
  background-color: #f9f9f9;
  padding-left: 0;
  padding-right: 0;
}

.banner-1 {
  height: 280px;
}

.container {
  max-width: 500px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.solid-1 {
  width: 90%;
  height: 90%;
  position: absolute;
  background-color: #ccf4e6;
  top: 0;
  right: 0;
  border-radius: 5px;
}

.banner-1 img {
  width: 90%;
  height: 85%;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
}

.center {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.titulo-principal {
  margin: 0;
  font: 700 1.87rem "Poppins", sans-serif;
  color: #000000;
}

#home .center .texto {
  margin: 0;
  font: 300 1rem "DM Sans", sans-serif;
}

.botao {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule-button {
  text-decoration: none;
  font: 300 1rem "Poppins", sans-serif;
  color: white;
  background-color: #69b99d;
  padding: 0.87rem 2rem;
  border-radius: 5px;
  transition: background 0.2s;
}

.schedule-button:hover {
  background: #38b47f;
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(105, 185, 157, 0),
    rgba(105, 185, 157, 1)
  );
}

#about {
  padding-left: 0;
  padding-right: 0;
}

.section-about {
  padding: 3rem 1.5rem 0;
  display: grid;
  gap: 2rem;
}

.banner-2 {
  height: 280px;
  position: relative;
}

.solid-2 {
  width: 70%;
  height: 100%;
  position: absolute;
  background-color: #ccf4e6;
  border-radius: 5px;
  left: 0;
}

.banner-2 img {
  width: 100%;
  height: 90%;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
}

#about .texto {
  margin: 0;
  font: 300 1rem "Poppins", sans-serif;
}

.divider-2 {
  margin-top: 3rem;
  height: 1px;
  background: linear-gradient(
    to left,
    rgba(105, 185, 157, 0),
    rgba(105, 185, 157, 1)
  );
}

#services {
  background-color: #f9f9f9;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section-services {
  padding: 5rem 1.5rem 5rem;
  display: grid;
  gap: 1.5rem;
}

#services .texto span {
  color: #69b99d;
  font-weight: bold;
}

.cardContainer {
  width: 100%;
  height: 23.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-bottom: 5px solid #69b99d;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px 5px 0 0;
}

.cardContainer img {
  width: 5em;
  height: 5rem;
  margin-top: 2.5rem;
}

h3 {
  font: 700 1.5rem "Poppins", sans-serif;
  color: #0f241d;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.cardContainer p {
  display: flex;
  text-align: center;
  padding: 0 2rem;
  margin-bottom: 2.5em;
}

.section-testimonials {
  padding: 5rem 0rem 2rem;
}

.testimonials {
  margin: 0;
  width: 100%;
  height: 18rem;
}

.cardTestimonials {
  padding: 1.5rem;
}

blockquote {
  margin: 5px;
  height: 22rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  justify-content: space-between;
}

#testimonials .texto {
  margin: 0;
  width: 100%;
  margin-bottom: 1.5rem;
  font: 300 1rem "Dm Sans", sans-serif;
  color: #0f241d;
  line-height: 26px;
}

#testimonials h2 {
  margin-bottom: 2.5rem;
  padding: 0 1.5rem;
}

cite {
  display: flex;
  flex-direction: row;
  align-items: center;
  font: 300 1rem "Dm Sans", sans-serif;
}

cite img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  border-radius: 1000px;
}

.swiper-slide {
  height: auto;
  padding: 1px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-bullet {
  margin: 0.25rem;
}

.swiper-pagination-bullet-active {
  background-color: #69b99d;
}

#contact p {
  margin: 1rem 0 2rem;
}

.section-contact {
  padding: 5rem 1.5rem 2rem;
  background-color: #f9f9f9;
}

.botao-contact {
  display: flex;
  align-items: left;
  transition: background 0.2s;
}

.contact-button {
  background-color: #69b99d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  border-radius: 5px;
  color: #f9f9f9;
  width: 70%;
  margin-bottom: 3rem;
}

.contact-button:hover {
  background: #38b47f;
}

.contact-button img {
  padding-right: 10px;
}

#contact .contato {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.telefone,
.endereco,
.email {
  display: flex;
  vertical-align: center;
  margin-bottom: 1.5rem;
}

.contato img,
.endereco img,
.email img {
  padding-right: 10px;
}

footer {
  width: 100vw;
  height: 12rem;
  background-color: #69b99d;
  padding: 4rem 1.5rem;
}

#footer .logo span {
  color: #f9f9f9;
}

#footer .texto {
  margin-top: 2rem;
  line-height: 100%;
  color: #f9f9f9;
}

.social {
  margin-top: 2rem;
  width: 30%;
  padding: 20px 20px 0 0;
  display: flex;
  justify-content: space-between;
}

.social img {
  cursor: pointer;
}

@media (min-width: 500px) {
  blockquote {
    height: 15rem;
  }
}

@media (min-width: 768px) {
  .banner-2 {
    margin: 1.5rem 0;
  }
  blockquote {
    height: 12rem;
  }
}

@media (min-width: 1025px) {
  .menu {
    display: block;
  }

  nav {
    padding: 0 7rem;
  }

  ul {
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
  }

  ul .nav-item a,
  ul .nav-item a {
    height: 100%;
  }
  .nav-item {
    height: 100%;
    padding-right: 2rem;
  }

  nav .menu ul .nav-item a:hover,
  nav .menu ul .nav-item a.active {
    color: #69b99d;
    transition: 0.15s;
    border-bottom: solid 3px #69b99d;
  }

  .toogle {
    display: none;
  }

  .section-home {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0;
    gap: 0;
  }

  #home {
    height: 699px;
    justify-content: center;
  }

  .hero-text {
    width: 396px;
  }

  .hero-text .botao {
    justify-content: flex-start;
  }

  #home .section {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    padding: 0;
  }

  #home .titulo-principal {
    margin: 0;
    font: 700 2.25rem "Poppins", sans-serif;
    color: #000000;
    margin-bottom: 1rem;
  }

  .banner-1 {
    width: 100%;
    height: 443px;
    align-items: center;
    justify-content: center;
  }

  .banner-1 .container {
    height: 443px;
    width: 800px;
    padding: 0;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .section-about {
    display: flex;
  }

  .banner-2 {
    width: 48.31rem;
    height: 27.87rem;
  }

  .section {
    display: flex;
    flex-direction: column;
    width: 38.12rem;
    height: 19.5rem;
  }

  #services {
    background-color: #f9f9f9;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .section-services {
    padding: 5rem 1.5rem 5rem;
    display: grid;
    gap: 1.5rem;
  }

  .cardContainer {
    width: 100%;
    height: 23.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-bottom: 5px solid #69b99d;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0 0;
  }
}
